#bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#glados {
  position: absolute;
  top: 0vh;
  right: 50vw;
  transform: scale(1.5);
  transition: 0.2s;
}

#glados:hover {
  filter: brightness(150%);
}

#miku {
  position: fixed;
  bottom: -15vh;
  right: -3vw;
  transform: scale(0.5);
  transition: 0.2s;
}

#miku:hover {
  filter: brightness(150%);
}

#hal {
  position: fixed;
  top: -13vh;
  right: 2vw;
  transform: scale(0.5);
  transition: 0.2s;
}

#hal:hover {
  filter: brightness(150%);
}

#am {
  position: fixed;
  bottom: -25vh;
  left: 10vw;
  transform: scale(0.6);
  transition: 0.2s;
}

#am:hover {
  filter: brightness(150%);
}

#spark {
  position: absolute;
  bottom: 0vh;
  left: 25vw;
  transform: scale(0.5);
}
